#rides_result table 
  {
    /*border-collapse:collapse;*/
    border: 3px solid black;
    table-layout: fixed;
    width:1000px;
  }
#rides_result th
  {
    height:50px;
    padding:10px;
    background-color:green;
    color:white;
  }

th.header { 
    background-image: url(small.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

#rides_result td
  {
    padding:10px;
    height:50px;
  }
#rides_result tr.alt td
  {
    color:#000000;
    background-color:#EAF2D3;
  }

#rides_result th td {
    overflow: hidden;
    min-width: 200px; 
    width: 200px; 
    max-width: 200px;
}

#rides_back_result table 
  {
    /*border-collapse:collapse;*/
    border: 3px solid black;
    table-layout: fixed;
    width:1000px;
  }
#rides_back_result th
  {
    height:50px;
    padding:10px;
    background-color:green;
    color:white;
  }
#rides_back_result td
  {
    padding:10px;
    height:50px;
  }
#rides_back_result tr.alt td
  {
    color:#000000;
    background-color:#EAF2D3;
  }

#rides_back_result th td {
    overflow: hidden;
    min-width: 200px; 
    width: 200px; 
    max-width: 200px;
}

.divcontr {
  white-space: nowrap;
  overflow: auto;
}
.pagination {
  margin: 0;
  padding: 0;
  display: inline;
}
.last{
  margin: 0;
  padding: 0;
}
.centerdiv {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-button1 {
  float: right;
  display: inline;
}

.rpp {
  display: inline;
}
