This is results page!!

%table#rides
  %thead
    %tr
      %th From City
      %th Time
      %th To City
  %tbody
    - @rides.map do |ride|
      %tr
        %td= ride.from_city
        %td TBD
        %td Iowa City
