%br/
Now Loading...
- @exp = %r'^search_(go|back)(.*)$'
- @result = params[:id].scan(@exp)[0]
- @p = eval(@result[1])
- @p["radio"] = "OnyWay"
- if(@result[0] == "back")
  - @temp = @p["from_city"]
  - @p["from_city"] = @p["to_city"]
  - @p["to_city"] = @temp
%br/
= form_tag rides_search_path, :method => :post do
  %input#hide1{ :name => "search[radio]", :value => @p["radio"]}
  %input#hide2{ :name => "search[from_city]", :value => @p["from_city"]}
  %input#hide3{ :name => "search[to_city]", :value => @p["to_city"]}
  = button_tag 'Search' , class: 'search-button' , type: :submit, :id => 'search_button'

%script{ :type => 'text/javascript'}
  document.getElementById('hide1').style.visibility = 'hidden';
  document.getElementById('hide2').style.visibility = 'hidden';
  document.getElementById('hide3').style.visibility = 'hidden';
  document.getElementById('search_button').style.visibility = 'hidden';
  document.getElementById('search_button').click();
